<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kr10r1420">

    <ros2_control name="RobotSystem" type="system">

        <xacro:property name="PI" value="3.14159265359" />

        <!-- ros2_control Gazebo -->
        <!-- ROS 2 Humble -->
        <xacro:if value="$(arg is_ignition)">
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
        </xacro:if>

        <!-- ROS 2 Iron or above -->
        <xacro:unless value="$(arg is_ignition)">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
        </xacro:unless>

        <joint name="joint_a1">
            <command_interface name="position">
            <param name="min">-2.967</param>
            <param name="max">2.967</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="joint_a2">
            <command_interface name="position">
            <param name="min">-3.228</param>
            <param name="max">1.134</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="joint_a3">
            <command_interface name="position">
            <param name="min">-2.391</param>
            <param name="max">2.844</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="joint_a4">
            <command_interface name="position">
            <param name="min">-3.228</param>
            <param name="max">3.228</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="joint_a5">
            <command_interface name="position">
            <param name="min">-2.094</param>
            <param name="max">2.094</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="joint_a6">
            <command_interface name="position">
            <param name="min">-6.108</param>
            <param name="max">6.108</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
    </ros2_control>

</robot>